*{
    --baseBlueC: #3D479D;
    --accentBlueC: #B2EEDF;
    --objectsBlueC: #7683F5;

    --breadFontC: white;

    --mainTitle:'Rubik Moonrocks', regular;
    --instructionFont:'Rubik', sans-serif;
}

/*
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
*/

#topElements{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    align-items: center;
} #topElements > button{
    height: 50px;
}

.fillAdvergameWrapper {
    background-image: url(/assets/images/fill/fillCupBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mugGameTitle {
    font-family: var(--mainTitle);
    color: var(--baseBlueC);
    font-size: 50px;
    margin: 10px;
}

#ingredients{
    width: 110px;
    height: 110px;
    border-radius: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
#ingredients > span:last-child{
    position: absolute;
    top: 110px;
    right: 42px;
}

#medalContainer{ /*FIXA KLART MEDALJERNA */
    width: 150px;
    height: 70px;
    grid-area: 2/3/2/3;
   
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 33%);


}
#medalContainer > span{
    position:absolute;
    top: 70px;
    right: 20px;
}
.medalPic{
    height: 100%;
}
#progressContainer{
    height:10px;
    width:500px;
    border: 5px solid var(--accentBlueC);
    border-radius: 10px;
    position:relative;
}
#progressContainer > span{
    position: absolute;
    top: 60px;
    right: 180px;;
}
#progressBar{
    position:absolute;
    left:0px;
    height:100%;
    background-color: var(--accentBlueC);
}
#bottomElements{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 33px 340px;
    justify-items: center;
}
#cup{
    width: 100%;
    height: 84%;
    background-image: url(/assets/images/fill/fillCup.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    grid-area: 2/2/2/2;
}
.fill{
    background-color: var(--baseBlueC);
    transition: height 0s linear 0s;
    transform-origin: 50% 0%;
    width: 89%;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    position:absolute;
    bottom: 0px;
    left: 17px;
    z-index: 99;
}
.line{
    background-color: transparent;
    border-top: 2px solid aliceblue;
    width: 100%;

    position:absolute;
    bottom:0px;
    z-index: 101;
}
.turnPointsDIV{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.oneTurnPoints{
    position: absolute;
    left: 170px;

    font-size: 70px;
    font-family: 'Rubik Beastly', cursive;
    color: var(--breadFontC); 
    animation: fadeIn ease 5s;
   
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    10% {
      opacity:1;
    }
  }

.userPoints{
    position:absolute;
    top: 30px;
    color: var(--breadFontC);
    font-family: var(--mainTitle);
    font-size: 25px;
}
.nextBtn{
    z-index: 100;
    pointer-events: all;
    position: absolute;
    top: 111px;
    background-color: var(--baseBlueC);
    font-size: 20px;
    font-family:'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    border-radius: 10px;
    border: 1px solid var(--accentBlueC);
    padding: 5px;
}

.bottomStart {
    font-family:'Rubik Mono One', sans-serif;
}

#start {
    font-family:'Rubik Mono One', sans-serif;
    color: white;
    background-color: var(--baseBlueC);
    font-size: 20px;
    border: 2px solid var(--accentBlueC);
    border-radius: 5px;
}

.topten {
    font-family:'Rubik Beastly', regular;
}

#fill {
    background-color: var(--baseBlueC);
    font-family:'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    font-size: 20px;
}

#ingredients {
    background-size: contain;
    background-repeat: no-repeat;

    border: 2px solid var(--accentBlueC);
    background-color: #7683f585;
}

#fillText {
    color: var(--breadFontC);
    font-family:'Rubik', sans-serif;
}

.btnContainer {
    grid-area: 2/1/2/1;
}

.medalPic {
    height: 10%;
}

.endWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.topEnd {
    text-align: center;
}

.companyEndName {
    font-family:'Rubik Moonrocks', cursive;
    font-size: 30px;
    color: var(--baseBlueC);
    margin-top: 0px;
}

.bottomEnd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.again {
    background-color: var(--baseBlueC);
    border: 2px solid var(--accentBlueC);
}

.addName {
    border: 1px solid var(--baseBlueC);
    background-color: var(--objectsBlueC);
    color: var(--breadFontC);
    font-family: var(--instructionFont);
    padding: 8px;
}


@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  .snowfall{
    background: url(https://i.imgur.com/T0mBFg2.png);
    background-repeat: repeat;
    animation:snowfall 5s linear forwards infinite; 
    -webkit-animation:snowfall 5s linear forwards infinite; 
  }

  @keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
  }
  @-webkit-keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
  }