*{
    --baseBlueC: #9DA2CD;
    --basePurpleC: #A139D2;
    --baseGreenC: #9DCDA9;
}

#topElements{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    align-items: center;
} #topElements > button{
    height: 50px;
}
#ingredients{
    width: 110px;
    height: 110px;
    border-radius: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
#ingredients > span:last-child{
    position: absolute;
    top: 110px;
    right: 42px;
}

#medalContainer{
    width: 150px;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    border: 2px solid var(--basePurpleC);
    position: relative;
}
#medalContainer > span{
    position:absolute;
    top: 70px;
    right: 20px;
}
.medalPic{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
#progressContainer{
    height:50px;
    width:500px;
    border: 5px solid var(--baseGreenC);
    border-radius: 10px;
    position:relative;
}
#progressContainer > span{
    position: absolute;
    top: 60px;
    right: 180px;;
}
#progressBar{
    position:absolute;
    left:0px;
    height:100%;
    background-color: var(--baseGreenC);
    height: 50px;
}
#bottomElements{
    height: 70%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#cup{
    width: 170px;
    height: 270px;
    border: 10px solid var(--basePurpleC);
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 1000px solid black;
    position:relative;
}
.fill{
    background-color: steelblue;
    transition: height 0s linear 0s;
    transform-origin: 50% 0%;
    width: 100%;

    position:absolute;
    bottom:0px;
    z-index: 99;
}
.line{
    background-color: transparent;
    border-top: 2px solid aliceblue;
    width: 100%;

    position:absolute;
    bottom:0px;
    z-index: 101;
}
.turnPointsDIV{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.oneTurnPoints{
    position: absolute;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.userPoints{
    position:absolute;
    top: 65px;
}
.nextBtn{
    z-index: 100;
    pointer-events: all;
}

