
main{
    display:flex;
    flex-direction: row;
}
#allCategoriesWrapper{
    display:flex;
    flex-direction: column;
    width: 15%;
}
#allVideosWrapper{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 20%);
    width: 80%;
    margin: 50px 0px 0px 0px;
    grid-gap: 20px;
    row-gap: 40px;
}

#videoWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail > img{
    width:100%;
    height:160px;
    border-radius: 5px;
}
.videoUser > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.userNtitle{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.userNtitle > span{
    margin: 10px 0px 0px 10px;
}

#allCategoriesWrapper{
    display:flex;
    font-size: 15px;
    width: 143px;
    margin-right: 20px;
}
#cat, #fold{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#fold{
    margin-top:50px;
}
h4{margin-top: 45px;}
#allCategoriesWrapper > h4,
#allCategoriesWrapper > div{margin-left: 20px;}

#mainTitle {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.videoUser {
    margin-right: 10px;
}

.videoTitle {
    color: black;
    font-size: 13px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

