body{
    margin:0px;
    font-family: 'Golos Text', sans-serif, medium;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

/*  font-family: 'Golos Text', sans-serif;
    font-family: 'Anton', sans-serif;*/

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: #0F0521;
    padding: 3px;
}
header > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}
#searchBar{
    width:400px;
    height:30px;
    border-radius: 50px;
    background-color: rgb(236, 233, 233);
    padding-top: 10px;
    padding-left: 17px;
    font-size: 15px;
}
#profile{
    width: 50px;
    height: 50px;
    background-color: #ece9e9;
    border-radius: 50%;
    margin-right: 10px;

    background-image: url(/assets/images/userPics/user.png);
    background-repeat: no-repeat;
    background-size: contain;
}
footer{
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 38px;
    font-size: 13px;
    padding: 15px 0px;
}

#mainTitle {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.videoUser {
    margin-right: 10px;
}

.videoTitle {
    color: black;
    font-size: 13px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#thanksMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    margin: 0px;
}
#thanksFooter{
    position: relative;
    bottom:0;
}

h1,h2,h3,h4,h5,h6{
    text-decoration: none;
}
header:first-child a{
    color: white;
}


