body{
    margin:0px;
    font-family: 'Golos Text', sans-serif, medium;
}

/*  font-family: 'Golos Text', sans-serif;
    font-family: 'Anton', sans-serif;*/

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
header > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: larger;
}
#searchBar{
    width:400px;
    height:30px;
    border-radius: 50px;
    background-color: rgb(236, 233, 233);
    padding-top: 10px;
    padding-left: 17px;
    font-size: 15px;
}
#profile{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}
footer{
    height: 70px;
    width:100%;
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

a {
    text-decoration: none;
}

.videoTitle {
    color: black;
    font-size: 13px;
    font-weight: bold;
}

#mainTitle {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.videoUser {
    margin-right: 10px;
}