*{
    --baseBlueC: #9DA2CD;
    --basePurpleC: #A139D2;
    --baseGreenC: #9DCDA9;
}

main{
    display:flex;
    flex-direction: row;
    margin: 50px 0px 0px 50px;
}
#mainVideo{
    width: 60%;
    height: 600px;
    margin: 0px 50px 0px 0px;
    display:flex;
    flex-direction: column;

}
#AllVideosWrapper{
    width: 30%;
}
#videoNGame{
    background-color: var(--baseGreenC);
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fillAdvergameWrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: var(--baseBlueC);
    position:relative;
}
#allVideosWrapper{
    display:flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}.videoWrapper{
    display:flex;
    flex-direction: row;
    height: 150px;
}.thumbnail{
    height: 150px;
    width: 303px;
}.thumbnail img{
    width: 100%;
    height: 100%;
}.videoUser{
    display:none;
}

#videoInfo, #profile div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#videoInfo{
    gap: 30px;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* SPELET */

.topStart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.middleStart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
#leaderBoardWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#userList{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.bottomStart{
    display:flex;
    justify-content: center;
    align-items:center;
}
.turnPointsDIV{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.overlay{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 900px;
    height: 500px;
}
.skip > div{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.skip > div > div{
    background-image: url("images/misc/next.png");
    width: 20px;
    height: 20px;
}
.skip{

}