*{
    --baseBlueC: #3D479D;
    --accentBlueC: #B2EEDF;
    --objectsBlueC: #7683f59c;
   
    --breadFontC: white;

    --instructionFont:'Rubik', sans-serif;
}

main{
    display:flex;
    flex-direction: row;
    margin: 50px 0px 0px 50px;
}
#mainVideo{
    width: 60%;
    height: 600px;
    margin: 0px 50px 0px 0px;
    display:flex;
    flex-direction: column;

}
#AllVideosWrapper{
    width: 30%;
}
#videoNGame{
    background-color: var(--baseGreenC);
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fillAdvergameWrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    position:relative;
}
#allVideosWrapper{
    display:flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}.videoWrapper{
    display:flex;
    flex-direction: row;
    height: 150px;
}.thumbnail{
    height: 150px;
    width: 303px;
}.thumbnail img{
    width: 100%;
    height: 100%;
}.videoUser{
    display:none;
}

#videoInfo, #profile div{
    display:flex;
    flex-direction: row;
}
#videoInfo{
    gap: 30px;
}

/* SPELET */

.topStart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.middleStart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
#leaderBoardWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    color: var(--breadFontC);
    font-family: var(--instructionFont);
    background-color: var(--objectsBlueC); /*INTE RÄTT FÄRG ÄNNU*/
    border-radius: 10px;
    border: 2px solid var(--accentBlueC);
    padding: 10px;
}
#userList{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    line-height: 25px;
}
.bottomStart{
    display:flex;
    justify-content: center;
    align-items:center;

    color: white;
}

.topten{
    margin: 5px;
    color: var(--breadFontC);
    font-size: 20px;
}

.mugGameInstructions {
    font-family: var(--instructionFont);
    font-size: 15px;
    color: var(--breadFontC);
    margin-top: 10px;
}

#sendName {
    background-color: var(--baseBlueC);
    border: 2px solid var(--accentBlueC);
    font-family:'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    border-radius: 5px;
    padding: 7px;
    margin-left: 7px;
}

.companyEndLink {
    font-family: var(--instructionFont);
    color: var(--breadFontC);
}

.again {
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
}

.addName {
    border-radius: 5px;
}

.yourResults {
    color: var(--breadFontC);
    font-family:'Rubik Beastly', cursive;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.enterNameText{
    color: var(--breadFontC);
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    margin-right: 10px;
}

.orPlayAgain {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    color: var(--breadFontC);
    text-align: center;
    margin: 20px;
    font-size: 27px;
}

.middleEnd {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}