*{
    --baseBlueC: #3D479D;
    --accentBlueC: #B2EEDF;
    --objectsBlueC: #7683f59c;
   
    --breadFontC: white;

    --instructionFont:'Rubik', sans-serif;
}

main{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0px 0px 50px;
}
#mainVideo{
    width: 60%;
    height: 600px;
    margin: 0px 50px 0px 0px;
    display:flex;
    flex-direction: column;

}
#AllVideosWrapper{
    width: 30%;
}
#videoNGame{
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fillAdvergameWrapper{
    width: 100%;
    height: 500px;
    display:flex;
    flex-direction: column;
    position:relative;
}
#allVideosWrapper{
    display:flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}.videoWrapper{
    display:flex;
    flex-direction: column;
}.thumbnail{
    height: 150px;
    width: 244px;
    position: relative;
}.thumbnail img{
    width: 100%;
    height: 100%;
}.videoUser{
    display:none;
}
.displayMins{
    position: absolute;
    bottom: 0px;
    color: white;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 3px 20px 3px 5px;
    font-size:small;
}

.userNtitle {
    width: 244px;
}

#videoInfo, #profile div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#videoInfo{
    margin-top: 20px;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* SPELET */

.topStart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.middleStart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
#leaderBoardWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    width: 237px;
    
}
.userList{
    display:flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    width: 165px;

    color: var(--breadFontC);
    font-family: var(--instructionFont);
    border-radius: 10px;
    padding: 10px;
}
.bottomStart{
    display:flex;
    justify-content: center;
    align-items:center;

    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
}
.bottomStart > h3 {
    margin-top: 10px;
}
#start {
    border-radius: 5px;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 27px;
    padding: 5px;
}

.topten{
    margin: 5px;
    color: var(--breadFontC);
    font-size: 23px;
}

.gameInstructions {
    font-family: var(--instructionFont);
    font-size: 15px;
    color: var(--breadFontC);
    margin-top: 10px;
    font-style: italic;
}

#sendName {
    font-family:'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    border-radius: 5px;
    padding: 7px;
    margin-left: 7px;
}

.companyEndLink {
    font-family: var(--instructionFont);
    color: var(--breadFontC);
}

.again {
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--breadFontC);
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
}

.addName {
    border-radius: 5px;
    font-family: var(--instructionFont);
    padding: 8px;
}

.yourResults {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.enterNameText{
    color: var(--breadFontC);
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    margin-right: 10px;
}

.orPlayAgain {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    color: var(--breadFontC);
    text-align: center;
    margin: 20px;
    font-size: 27px;
}

.middleEnd {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDIV {
    font-size: 13px;
}

.turnPointsDIV{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.overlay{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 900px;
    height: 500px;
    pointer-events: none;
}
.skip,
.skipping{
    pointer-events: all;
    width: 160px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background-color: #ece9e9bf;
    color: black;
    font-family: 'Golos Text', sans-serif, medium;
    border-radius: 1px;
    padding: 5px 5px 5px 5px;
    border: solid 2px darkgray;
    z-index: 150;
}.skipping{ width: 100px;}

.skip > div, 
.skipping > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
}
.skip:hover,
.skipping:hover{
    background-color: #fff4f4e3;
}
.skip > div > div{
    background-image: url("images/misc/next.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
    background-size: contain;
    margin-left:10px;
}

.bottomEnd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endWrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video{
    height:102%;
    width:100%;
}

.logo {
    width: 14%;
}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;
}
header:first-child a{
    color: white;
}

.logoFirstPage {
    width: 105px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    left: 15px;
    top: 4px;
}

.logoSecondPage {
    width: 105px;
    height: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    right: 15px;
    top: -112px;
}


