#topElements{
    height:25%;
}
#middleElements{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
#middleElements .gameInstructions{
    position: absolute;
    bottom: 88px;
    left: 202px;
    width: 500px;
    text-align: center;
}
.boot{
    height:150px;
    width:150px;
    background: url("images/whack/boot.png");
    background-size: cover;
    z-index: 10;
    pointer-events: none;

} #boot{
    height:150px;
    width:150px;
    background: url("images/whack/boot.svg");
    background-size: cover;
    transform: translatey(0px);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    animation: float 6s ease-in-out infinite;
}
.boot.floatBoot{
    position:absolute;
    transform: translate(-140px,-320px);
    cursor: none;
}
#gridWrapper{
    display:flex;
    height:65%;
    justify-content: center;
    align-items: end;
}
#holeWrapper{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 2px solid black;
}
.hole{
    overflow: hidden;
    position: relative;
}
.hole:after {
    display: block;
    background: url("images/whack/Rectangle.svg") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole{
    background-size: 50%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s ease;
    filter: saturate(0%);
}

.fillAdvergameWrapper {
    background-image: url(/assets/images/whack/whackABootBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gameTitle {
    font-family: 'Rubik Bubbles', cursive;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 15px;
}

.userList {
    background-color: #abbe67af;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border: 7px double #18422C;
}

.topten {
    color: #CED239;
    font-family: 'Rubik Dirt', cursive;
}

#start {
    border: solid 2px #18422C;
    background-color: #abbe67;
}

#start:hover {
    background-color: #18422C;
    border: solid 2px #abbe67;
}

#startGame {
    border: solid 2px #18422C;
    background-color: #abbe67;
    font-family: 'Rubik Mono One', sans-serif;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

#startGame:hover {
    background-color: #18422C;
    border: solid 2px #abbe67;
}

#yourProgress {
    font-family:'Rubik Dirt', cursive;
    font-size: 20px;
    color: #CED239;
}

.companyEndName {
    font-family: 'Rubik Bubbles', cursive;
    color: white;
    font-size: 26px;
    margin-bottom: 0;
    
}

.companyEndName a{
    animation: color-change 3s ease-in-out infinite;
}

@keyframes color-change {
    0% { color: #abbe67; }
    40% { color:  #ffe44c; }
    70% { color:  #3f8924; }
    100% { color:  #abbe67; }
  }

.yourResults {
    font-family: 'Rubik Dirt', cursive;
    color: #CED239;
}

.addName {
    color: #18422C;
}

#sendName {
    border: solid 2px #18422C;
    background-color: #abbe67;
}

#sendName:hover {
    background-color: #18422C;
    border: solid 2px #abbe67;
}

.again {
    border: solid 2px #18422C;
    background-color: #abbe67;
}

.again:hover {
    background-color: #18422C;
    border: solid 2px #abbe67;
}

.userPoints {
    font-family: 'Rubik Dirt', cursive;
    color: white;
    font-size: 30px;
}

#timer {
    color: white;
    font-family:'Rubik Mono One', sans-serif; 
    font-size: 15px;
}

.hole.up .mole {
    top: 0;
    filter: saturate(100%);
}

@keyframes float {
    0% {
        filter:drop-shadow(0 5px 15px 0px rgb(0 0 0 / 0.4));
        transform: translatey(0px);
    }
    50% {
        filter:drop-shadow(0 25px 15px 0px rgb(0 0 0 / 0.2));
        transform: translatey(-20px);
    }
    100% {
        filter:drop-shadow(0 5px 15px 0px rgb(0 0 0 / 0.4));
        transform: translatey(0px);
    }
  }


  .logoDiv {
    width: 100%;
    position: absolute;
    bottom: 6;
    left: 14;
}

.companyEndName > a{
    color: #abbe67;
    text-decoration: none;
}

.companyEndName > a:hover{
    color:#CED239;
}
.miss{
    position: absolute;
    font-family:'Rubik Mono One', sans-serif;
    color:#CED239;
    font-size: 30px;
    z-index: 100;
}

#medalContainer{ /*FIXA KLART MEDALJERNA */
    width: 150px;
    height: 70px;
    grid-area: 2/3/2/3;
   
    position: relative;

    display: flex;
    grid-template-columns: repeat(3, 33%);
}
#medalContainer > span{
    position:absolute;
    top: 70px;
    right: 20px;
}
.medalPic{
    height: 100%;
}
.oneMedal{
    width: 50px;
}
.showPoints{
    position: absolute;
    top: 100px;
    font-family: 'Rubik Bubbles', cursive;
    color: white;
    font-size: 45px;
    z-index: 100;
}


.logoFirstPage {
    background-image: url(/assets/images/whack/canadabootsLogo.png);
}

.logoSecondPage {
    background-image: url(/assets/images/whack/canadabootsLogo.png);
}

.promoMsg {
    margin: 0;
    color: #CED239;
    margin-top: 17px;
    font-family: 'Rubik Dirt', cursive;
}

